.work-head {
    height: 70px;
    background-color: lightblue;
    justify-content: space-between;
    justify-items: center;
}

.work-head a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.work-head a:hover {
    color: goldenrod;
    background-color: darkblue;
}